html {
	position: relative;
	min-height: 100%;
}

/* header height sets static height needed for the video to be rendered in browser view port
 * for height in percent to work parent container needs to have percent value in this case body was given 100% height
*/
header{
	height: 90%;
	position: relative;
	background-color: red;
}

header li a {
	color: #222222;
	font-size: 17px;
	font-weight: 200;
}

body {
	background: #dddddd;
	margin-bottom: 150px;
	height: 100%;
	padding-top: 50px;
}

.icon-ocf {
	background-image: url("https://www.ocf.berkeley.edu/hosting-logos/ocfbadge_silver8.png");
    background-position: center center;
    background-size: 100%;
}

.footer {
    background: #cccccc;
    padding: 10px 0;
}

.footer a {
    color: #70726F;
    font-size: 20px;
    padding: 10px;
    border-right: 1px solid #70726F;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.footer a:first-child {
    border-left: 1px solid #70726F;
}

.footer a:hover {
    color: white;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding-top: 15px;
	font-size: 20px;
	height: 150px;
	min-width: 1080px;
}

footer .col-sm-4 {
	display: flex;
	color: #222222;
}

#footerwords {
	color: #222222;
}

#logo {
	position: absolute;
	right: 0;
	top: -25px;
	left: 275px;
}

#contactinfo div {
	margin-left: 10px;
	font-size: 12px;
}

.nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #000000;
    background-color: transparent;
}

.navbar-fixed-top {
	background-color: #cccccc;
	height: 50px;
	padding-top: 2.5px;
	padding-right: 1px;
	padding-left: 1px;
	margin-bottom: 0;
}

header .active {
	font-weight: bold;
}

.sliding-middle-out {
	display: inline-block;
	position: relative;
	padding-bottom: 3px;
}

.sliding-middle-out:after {
	content: '';
	display: block;
	margin: auto;
	height: 5px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}

.sliding-middle-out:hover:after {
	width: 100%;
	background: black;
}

.jumbotron {
	height: 500px;
	width: 100%;
	background-color: black;
	position: relative;
	z-index: 1;
}

.jumbotron > .backgroundimage{
	position: absolute;
	display: flex;
	background-image: url('../images/background_img_1.jpg');
	background-size: cover;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: .3;
	z-index: -1;
	width: 100%;
	height: 100%;
}

.jumbotron > .container {
	color: white;
	text-shadow: 10px 10px 10px black;
	vertical-align: middle;
	height: 500px;
}

#contentwrapper {
	height: auto;
	min-height: 100%;
	min-width: 1080px;
	box-sizing: border-box;
}

#bannertitle {
	font-size: 100px;
}

#top {
	font-size: 40px;
}

#middle {
	font-size: 40px;
}

#bottom {
	font-size: 40px;
}

#row1 {
	margin-bottom: 10px;
}

#soccer {
	background: url('../images/soccerteam.jpg') no-repeat center center fixed;
	background-size: 100% 100%;
}

#question {
	font-size: 50px;
}

#answer {
	font-size: 50px;
}

#future {
	font-size: 50px;
}

#secondline {
	border: none;
	border-bottom: 3px solid black;
	width: 25%;
}

#buildlogbutton {
	position: relative;
}

.buttons {
	margin-bottom: 20px;
}

.btn:focus, .btn:active {
   outline: none !important;
}

.btn a {
	text-decoration: none !important;
	color: #000000;
}
