html {
	position: relative;
	min-height: 100%;
}

header li a {
	color: #222222;
	font-size: 17px;
	font-weight: 200;
}

body {
	background: #dddddd;
	margin-bottom: 150px;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding-top: 15px;
	background-color: #cccccc;
	font-size: 20px;
	height: 150px;
}

footer .col-sm-4 {
	display: flex;
	color: #222222;
}

footer ul {
	list-style: none;
}

footer h6 {
	text-align: center;
}

#logo {
	position: absolute;
	right: 0;
	top: -25px;
	left: 275px;
}

#contactinfo div {
	margin-left: 10px;
	font-size: 12px;
}

.nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #000000;
    background-color: transparent;
}

.navbar-fixed-top {
	background-color: #cccccc;
	height: 50px;
	padding-top: 2.5px;
	padding-right: 1px;
	padding-left: 1px;
}

header .active {
	font-weight: bold;
}

.sliding-middle-out {
	display: inline-block;
	position: relative;
	padding-bottom: 3px;
}

.sliding-middle-out:after {
	content: '';
	display: block;
	margin: auto;
	height: 5px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}

.sliding-middle-out:hover:after {
	width: 100%;
	background: black;
}
