html {
	position: relative;
	min-height: 100%;
}

header li a {
	color: #222222;
	font-size: 17px;
	font-weight: 200;
}

body {
	background: #dddddd;
	margin-bottom: 200px;
}

header div {
    display: block;
}

.header-nav-item{
	float:left;
}

a:hover{
	text-decoration: none;
	color: black;
}

#list ul{
	list-style: none;
	width: 100%;
}

#list li {
		list-style-type: none;
		display: inline-block;
		margin-top: 20px;
		margin-bottom: 10px;
}

.header {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #cccccc;
    border-bottom: 1px solid #e5e5e5;
}

header .active {
	font-weight: bold;
}

.sliding-middle-out {
	display: inline-block;
	position: relative;
	padding-bottom: 3px;
}

.sliding-middle-out:after {
	content: '';
	display: block;
	margin: auto;
	height: 5px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}

.sliding-middle-out:hover:after {
	width: 100%;
	background: black;
}

#banner {
	display: fill;
}

.jumbotron {
	height: 500px;
	width: 100%;
	background-color: black !important;
	position: relative;
	z-index: 1;
	padding-bottom: 0;
	padding-top: 0;
}

.jumbotron > .backgroundimage {
	background-position: center;
	background-size: cover;
	position: relative;
	display: flex;
	background-image: url('../images/robobanner.png');
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
	height: 100%;
}

.overlay {
	position: absolute;
	color: white;
	text-shadow: 5px 5px 5px black;
	vertical-align: middle;
	top: 350px;
	bottom: 0;
	left: 0;
	right: 0;
}

#title {
	font-size: 100px;
}

#line {
	border: none;
	border-bottom: 3px solid black;
	width: 50%;
}

.icon-ocf {
	background-image: url("https://www.ocf.berkeley.edu/hosting-logos/ocfbadge_silver8.png");
    background-position: center center;
    background-size: 100%;
}

.footer {
    background: #cccccc;
    padding: 10px 0;
}

.footer a {
    color: #70726F;
    font-size: 20px;
    padding: 10px;
    border-right: 1px solid #70726F;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.footer a:first-child {
    border-left: 1px solid #70726F;
}

.footer a:hover {
    color: white;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding-top: 15px;
	font-size: 20px;
	height: 175px;
	min-width: 1080px;
}

footer .col-sm-4 {
	display: flex;
	color: #222222;
}

#footerwords {
	color: #222222;
}

#logo {
	position: absolute;
	right: 0;
	top: -25px;
	left: 275px;
}

#descriptionparagraph, #missionstatement {
	margin-top: 20px;
	font-size: 20px;
	z-index: 2;
}

#contactinfo div {
	margin-left: 10px;
	font-size: 12px;
}

#slideshowtitle {
	font-size: 150px;
	font-weight: 800;
	margin: 0;
	color: #ffffff;
	text-shadow: 3px 3px 3px #000000;
}

#slideshowdescription {
	padding: 20px;
	margin: 0 0 20px;
	color: #ffffff;
	text-shadow: 3px 3px 3px #000000;
}

#description button {
	margin-top: 20px;
	margin-right: 10px;
	margin-left: 10px;
}

#contentwrapper {
	height: auto;
	min-height: 100%;
	min-width: 1080px;
	box-sizing: border-box;
}

.btn:focus, .btn:active {
   outline: none !important;
   z-index: 2;
}

.btn a {
	text-decoration: none !important;
	color: #000000;
	z-index: 2;
}

/* NO LONGER USEFUL, BUT I'M KEEPING THE CODE HERE JUST IN CASE WE WANT TO IMPLEMENT THIS AGAIN */
.carousel-overlay {
    position: absolute;
    bottom: 100px;
    right: 0;
    left: 0;
    z-index: 3;
}

.carousel {
	height: 500px;
	width: 100%;
	margin-bottom: 20px;
	background-color: black;
}

.carousel-inner > .item > img {

	/*For when you replace the background images with square aspect ratio*/
    width: 80%;
	height: 500px;
	object-fit: cover;
	overflow: hidden;
	margin: 0 auto;

	/*For when you replace the background images with wide aspect ratio*/
	/*
	min-width: 100%;
	max-width: none;
	height: 500px;
	background-size: cover;
	*/
}

/*Fading Mechanics*/
.carousel-inner > .item {
  	opacity: 0;
  	top: 0;
  	left: 0;
  	width: 100%;
  	display: block;
  	position: absolute;
  	z-index: 0;
    -webkit-transition: none;
         -o-transition: none;
            transition: none;
    -webkit-transform: translate3d(0, 0, 0) !important;
            transform: translate3d(0, 0, 0) !important;
}

.carousel-inner > .item:first-of-type {
  	position: relative;
}

.carousel-inner > .active {
  	opacity: 1;
  	z-index: 3;
}

.carousel-inner > .next.left,
.carousel-inner > .prev.right {
    -webkit-transition: opacity .8s ease-in-out;
        -o-transition: opacity .8s ease-in-out;
          	transition: opacity .8s ease-in-out;
  	opacity: 1;
  	left: 0;
  	z-index: 2;
}

.carousel-inner > .active.left,
.carousel-inner > .active.right {
  	z-index: 1;
}

.carousel-control {
  	z-index: 4;
}
