html {
	position: relative;
	min-height: 100%;
}

header li a {
	color: #222222;
	font-size: 17px;
	font-weight: 200;
}

body {
	background: #dddddd;
	margin-bottom: 200px;
}

#banner {
	display: fill;
}

.jumbotron {
	height: 500px;
	width: 100%;
	background-color: #1A2B55 !important;
	position: relative;
	z-index: 1;
}

.jumbotron > .backgroundimage {
	background-position: center center;
	display: flex;
	background-image: url('../images/robobanner.jpg');
	background-size: cover;
	top: 0;
	bottom: 20px;
	left: 0;
	right: 0;
	z-index: 3;
	height: 100%;
}

.icon-ocf {
	background-image: url("https://www.ocf.berkeley.edu/hosting-logos/ocfbadge_silver8.png");
    background-position: center center;
    background-size: 100%;
}

.footer {
    background: #cccccc;
    padding: 10px 0;
}

.footer a {
    color: #70726F;
    font-size: 20px;
    padding: 10px;
    border-right: 1px solid #70726F;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.footer a:first-child {
    border-left: 1px solid #70726F;
}

.footer a:hover {
    color: white;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding-top: 15px;
	font-size: 20px;
	height: 150px;
	min-width: 1080px;
}

footer .col-sm-4 {
	display: flex;
	color: #222222;
}

#footerwords {
	color: #222222;
}

#logo {
	position: absolute;
	right: 0;
	top: -25px;
	left: 275px;
}

#descriptionpics {
	margin-top: 20px;
	align-items: center;
}

#descriptionpics .panel {
	font-size: 50px;
	border: solid;
	border-color: black;
	margin-top: 20px;
	height: 400px;
	background-color: black;
	text-align: center;
	display: inline-block;

	/*These four settings are if the pictures are spaced*/
	/*text-align: center;
	margin-right: 20px;
	margin-left: 20px;
	display: inline-block;
	float: none;*/
}

#descriptionpics h1 {
	position: absolute;
	top: 45%;
	left:50%;
	transform: translate(-50%,-50%);
	color: white;
	text-shadow: 5px 5px 5px #000000;
	opacity: 1 !important;
}

#designpanel {
	background: url('../images/blueprint.jpg') no-repeat center center fixed;
	background-size: 100% 100%;
	opacity: .5;
}

#createpanel {
	background: url('../images/solder.jpg') no-repeat center center fixed;
	background-size: 100% 100%;
	opacity: .5;
}

#innovatepanel {
	background: url('../images/scorpion.jpg') no-repeat center center fixed;
	background-size: 100% 100%;
	opacity: .5;
}

#designpanel:hover {
	opacity: 1;
}

#createpanel:hover {
	opacity: 1;
}

#innovatepanel:hover {
	opacity: 1;
}

#descriptionparagraph {
	margin-top: 20px;
	font-size: 20px;
}

#contactinfo div {
	margin-left: 10px;
	font-size: 12px;
}

#slideshowtitle {
	font-size: 150px;
	font-weight: 800;
	margin: 0;
	color: #ffffff;
	text-shadow: 3px 3px 3px #000000;
}

#slideshowdescription {
	padding: 20px;
	margin: 0 0 20px;
	color: #ffffff;
	text-shadow: 3px 3px 3px #000000;
}

#description button {
	margin-top: 20px;
	margin-right: 10px;
	margin-left: 10px;
}

.nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #000000;
    background-color: transparent;
}

.navbar-fixed-top {
	background-color: #cccccc;
	height: 50px;
	padding-top: 2.5px;
	padding-right: 1px;
	padding-left: 1px;
}

header .active {
	font-weight: bold;
}

.sliding-middle-out {
	display: inline-block;
	position: relative;
	padding-bottom: 3px;
}

.sliding-middle-out:after {
	content: '';
	display: block;
	margin: auto;
	height: 5px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}

.sliding-middle-out:hover:after {
	width: 100%;
	background: black;
}

.carousel-overlay {
    position: absolute;
    bottom: 100px;
    right: 0;
    left: 0;
    z-index: 3;
}

.carousel {
	height: 500px;
	width: 100%;
	margin-bottom: 20px;
	background-color: black;
}

.carousel-inner > .item > img {

	/*For when you replace the background images with square aspect ratio*/
    width: 80%;
	height: 500px;
	object-fit: cover;
	overflow: hidden;
	margin: 0 auto;

	/*For when you replace the background images with wide aspect ratio*/
	/*
	min-width: 100%;
	max-width: none;
	height: 500px;
	background-size: cover;
	*/
}

/*Fading Mechanics*/
.carousel-inner > .item {
  	opacity: 0;
  	top: 0;
  	left: 0;
  	width: 100%;
  	display: block;
  	position: absolute;
  	z-index: 0;
    -webkit-transition: none;
         -o-transition: none;
            transition: none;
    -webkit-transform: translate3d(0, 0, 0) !important;
            transform: translate3d(0, 0, 0) !important;
}

.carousel-inner > .item:first-of-type {
  	position: relative;
}

.carousel-inner > .active {
  	opacity: 1;
  	z-index: 3;
}

.carousel-inner > .next.left,
.carousel-inner > .prev.right {
    -webkit-transition: opacity .8s ease-in-out;
        -o-transition: opacity .8s ease-in-out;
          	transition: opacity .8s ease-in-out;
  	opacity: 1;
  	left: 0;
  	z-index: 2;
}

.carousel-inner > .active.left,
.carousel-inner > .active.right {
  	z-index: 1;
}

.carousel-control {
  	z-index: 4;
}

#contentwrapper {
	height: auto;
	min-height: 100%;
	min-width: 1080px;
	box-sizing: border-box;
}

.btn:focus, .btn:active {
   outline: none !important;
}

.btn a {
	text-decoration: none !important;
	color: #000000;
}
