html {
	position: relative;
	min-height: 100%;
}

header li a {
	color: #222222;
	font-size: 17px;
	font-weight: 200;
}

header div {
    display: block;
}

.header-nav-item{
	float:left;
}

a:hover{
	text-decoration: none;
	color: black;
}

#list ul{
	list-style: none;
	width: 100%;
}

#list li {
		list-style-type: none;
		display: inline-block;
		margin-top: 20px;
		margin-bottom: 10px;
}

.header {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #cccccc;
    border-bottom: 1px solid #e5e5e5;
}

body {
	background: #dddddd;
	margin-bottom: 150px;
}

#sponsorrequest {
	margin-bottom: 20px;
}

#line {
	border: none;
	border-bottom: 3px solid black;
	width: 50%;
}

.icon-ocf {
	background-image: url("https://www.ocf.berkeley.edu/hosting-logos/ocfbadge_silver8.png");
    background-position: center center;
    background-size: 100%;
}

.footer {
    background: #cccccc;
    padding: 10px 0;
    margin-top: 20px;
}

.footer a {
    color: #70726F;
    font-size: 20px;
    padding: 10px;
    border-right: 1px solid #70726F;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.footer a:first-child {
    border-left: 1px solid #70726F;
}

.footer a:hover {
    color: white;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding-top: 15px;
	font-size: 20px;
	height: 175px;
	min-width: 1080px;
}

footer .col-sm-4 {
	display: flex;
	color: #222222;
}

#footerwords {
	color: #222222;
}

#logo {
	position: absolute;
	right: 0;
	top: -25px;
	left: 275px;
}

#sponsortitle {
	font-size: 100px;
	position: absolute;
	top: -15px;
}

#words {
	position: absolute;
	top: 350px;
	left: 150px;
	right: 75px;
}

.jumbotron {
	height: 500px;
	width: 100%;
	background-color: black;
	position: relative;
	z-index: 1;
}

.jumbotron > .backgroundimage{
	background-position: center;
	position: absolute;
	display: flex;
	background-image: url('../images/grouppic.jpg');
	background-size: cover;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: .7;
	z-index: -1;
	height: 100%;
}

.jumbotron > .container {
	color: white;
	text-shadow: 10px 10px 10px black;
	height: 500px;
}

#contentwrapper {
	height: auto;
	min-height: 100%;
	min-width: 1080px;
	padding-bottom: 25px;
	box-sizing: border-box;
}

#otl1 {
	font-size: 65px;
}

#otl2 {
	font-size: 65px;
}

#otl3 {
	font-size: 65px;
}

#contactinfo div {
	margin-left: 10px;
	font-size: 12px;
}

.active {
	font-weight: bold;
}

.sliding-middle-out {
	display: inline-block;
	position: relative;
	padding-bottom: 3px;
}

.sliding-middle-out:after {
	content: '';
	display: block;
	margin: auto;
	height: 5px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}

.sliding-middle-out:hover:after {
	width: 100%;
	background: black;
}
